.stat-chart {
  text-align: left;
  padding: 10px 0;
  min-height: 140px;

  &--title {
    line-height: 30px;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #AAAAAA;
  }

  &--chart {
      width: 100%;
  }
}